## Simple Finance Tracker
#### 'Python Made Easy' w/ Benjamin Bennet Alexander

https://www.linkedin.com/pulse/building-finance-tracker-python-pandas-tutorial-bennett-alexander-jgpwe/

In [ ]:
import pandas as pd

In [60]:
class FinanceTracker:
    def __init__(self, budget):
        self.budget = budget
        # empty dataframe to add onto:
        self.transactions = pd.DataFrame(columns = ['date', 'category', 'description', 'amount'])

    # function to add new transactions:
    def add_transactions(self, date, category, description, amount):

        # control if statement:
        if isinstance(amount, (int, float)):

            # dictionary to be concatenated to the empty dataframe above:
            self.new_transactions = pd.DataFrame({'date': date,
                                                'category': category,
                                                'description': description,
                                                'amount': amount}, index = [0])    # (<-- 'ValueError: If using all scalar values, you must pass an index')
            self.transactions = pd.concat([self.transactions, self.new_transactions], ignore_index = True)
        else:
            print('Transactions must be of type, int or float; transaction entry failed.')

    # function to view transactions (mod: by category, if chosen):
    def get_transactions(self, category = None):
        if category:
            return self.transactions[self.transactions['category'] == category]
        return self.transactions
    
    # function to view total spending by category (if chosen):
    def get_total_spending(self, category = None):
        if category:
            return self.transactions[self.transactions['category'] == category]['amount'].sum()
        return self.transactions['amount'].sum()
    
    def get_budget_balance(self):
        balance = self.budget - self.transactions['amount'].sum()
        if balance < 0:
            print(f'Balance has exceeded; you\'re in the red!!! Balance: {balance}')
        elif balance <= (self.budget / 100 * 15):
            print(f'Balance is at or below 15% of budget. Balance: {balance}')
        else:
            print(f'Balance is comfortably within budget. Balance: {balance}')

In [66]:
# Enter budget amount here:
bud_amt = 750

In [65]:
cat1 = None

# add new transactions:
obj = FinanceTracker(bud_amt)
obj.add_transactions('2024-11-03', 'auto', 'carnote PMT', 500)
obj.add_transactions('2024-11-04', 'education', 'ACG subscription', 35)
obj.add_transactions('2024-11-05', 'auto', 'wiper fluid', 15)

# view transactions:
obj.get_transactions(category = cat1)

         date   category       description amount
0  2024-11-03       auto       carnote PMT    500
1  2024-11-04  education  ACG subscription     35
2  2024-11-05       auto       wiper fluid     15

In [61]:
obj.get_budget_balance()

Balance comfortably within budget. Balance: 200

In [62]:
cat2 = 'auto'

# view total spending by category:
print(f"Total spending for {cat2} category: {obj.get_total_spending(category = cat2)}")

Total spending for auto category: 515